<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"></div>
  <div class="col">
    <p>Error component below</p>
    <error-message></error-message>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row"></div>
  <div class="col">
    <p>Succcess component below</p>
      <success-message></success-message>
  </div>
</div>